<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
      ul#messages { list-style: none; }
      ul#messages li { padding: 5px 10px; }
      ul#messages li { margin-bottom: 2px; }
    </style>
  </head>
  <body>
    <div class="container">
      <form id="chatbox" class="form-inline">
        <div class="rounded-md p-4">
          <div class="form-group">
            <label for="message">{{.UserData.name}}からメッセージを送信</label>
            または<a href="/logout" class="text-blue-500 hover:text-blue-800 underline">ログアウト</a>
          </div>
          <div class="flex items-center">
            <textarea id="message" class="form-control flex-grow p-2 border border-gray-300 rounded-md" rows="3"></textarea>
            <input type="submit" value="送信" class="btn btn-primary ml-2">
          </div>
        </div>
      </form>
      <div class="flex justify-between items-center py-4">
        <div class="flex items-center">
          <ul id="messages"></ul>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
      $(function(){
        let socket = null;
        let msgBox = $("#chatbox textarea");
        let messages = $("#messages");
        $("#chatbox").submit(function(){
          if (!msgBox.val()) return false;
          if (!socket) {
            alert("エラー: WebSocket接続が行われていません。 ");
            return false;
          }
          socket.send(JSON.stringify({"Message": msgBox.val()}));
          msgBox.val("");
          return false;
        });
        if (!window["WebSocket"]) {
          alert("エラー:WebSocketに対応していないブラウザです。")
        } else {
          socket = new WebSocket("ws://{{.Host}}/room");
          socket.onclose = function() {
            alert("接続が終了しました。");
          }
          socket.onmessage = function(e) {
            const msg = JSON.parse(e.data);
            messages.append(
              $("<li>").append(
                $("<img>").attr("title", msg.Name).css({
                  width: 50,
                  height: 50,
                  verticalAlign: "middle",
                  borderRadius: "50%",
                }).attr("src", msg.AvatarURL),
                $("<span>").text(msg.Message + " "),
                $("<span>").text(new Date(msg.When).toLocaleString() + " ")
              ));
          }
        }
      });
    </script>
  </body>
</html>
